* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}



button {
  font-size: 16px;
  padding: 8px 15px;
  background-color: white;
  border: 1px solid;
  border-radius: 2px;
  cursor: pointer;
}

/* 自定义滚动轴样式 */
.scroll_full::-webkit-scrollBar {
  width: 5px;
  /*垂直方向的宽*/
  height: 7px;
  /*水平方向的宽*/
}

.scroll_full::-webkit-scrollBar-thumb {
  border-radius: 5px;
  background-color: #666;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

/* 滑块样式定义 */
.scroll_full::-webkit-scrollBar-track {
  border-radius: 5px;
  background: #EDEDED;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}




/* 路由跳转动画 */
.vue_router {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  animation: router_opacity 1s ease-in-out forwards;
  overflow: hidden;
  /* background-color: #000; */
}

.vue_router_list {
  flex-grow: 1;
  background: url('@/assets/images/loading.png') #fff no-repeat;
  /* background-color: #000; */
  background-size: var(--wid) auto;

}

.vue_router_list:nth-child(odd) {
  animation: router_top .5s ease-in-out forwards;

}

.vue_router_list:nth-child(even) {
  animation: router_bottom .5s ease-in-out forwards;
}

@keyframes router_top {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  90% {
    transform: translateY(-5%);
    opacity: 1;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes router_bottom {
  0% {
    transform: translateY(100%);
    opacity: 0;

  }

  90% {
    transform: translateY(5%);
    opacity: 1;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes router_opacity {
  0% {
    opacity: 1;
    width: var(--wid);
  }

  80% {
    opacity: 1;
    width: var(--wid);
  }

  100% {
    opacity: 0;
    width: 0px;
  }
}

/* 页面容器左上角缩小功能 */

.top_left_app {
  transform-origin: top left;
  transition: transform 1s;
  transform: scale(.5);
}

.bottom_right_iframe {
  width: 160vw;
  height: 200vh;
  transform-origin: bottom right;

  position: fixed;
  bottom: 0;
  right: 0;
  transform: scale(.5);
}

/* #app {
  position: relative;
} */


.text_overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.error_text {
  text-decoration: line-through;
  font-weight: 300;
}



/* dom_full_screen.js文件 css动画 */
.create_dom_full_screen {}


.create_dom_full_screen .dom_full_screen {
  transition: all .5s ease-in-out;
  left: 0 !important;
  top: 0 !important;
  width: 30vw !important;
  /* max-width: ; */
  height: 90vh !important;
  margin: 15px 0;
}


.web_iframe {
  width: 200%;
  height: 200vh;
  transform: scale(.4);
  transform-origin: right, center;
  position: fixed;
  top: -40%;
  left: -40%;

}

.web_iframe::after {
  content: "11111";
  position: absolute;
  top: 10px;
  left: 0;
}

/* 元素出现动画 */
/* fade-transform */
.fade-leave-active,
.fade-enter-active {
  transition: all 0.5s;
}

/* 可能为enter失效，拆分为 enter-from和enter-to */
.fade-enter-from {
  opacity: 0;
  transform: translateY(-30px);
}

.fade-enter-to {
  opacity: 1;
  transform: translateY(0px);
}

.fade-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

/* fade-transform */
.card-leave-active,
.card-enter-active {
  transition: all 1s;
}