@font-face {
    font-family: "iconfont"; /* Project id 4101211 */
    src: url('//at.alicdn.com/t/c/font_4101211_8a0wnwnii7e.woff2?t=1686211987741') format('woff2'),
         url('//at.alicdn.com/t/c/font_4101211_8a0wnwnii7e.woff?t=1686211987741') format('woff'),
         url('//at.alicdn.com/t/c/font_4101211_8a0wnwnii7e.ttf?t=1686211987741') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-jiazaidonghua:before {
    content: "\e603";
  }
  
  .icon-jiazaiss:before {
    content: "\e6cd";
  }
  
  .icon-boke:before {
    content: "\e63e";
  }
  
  .icon-boke1:before {
    content: "\e600";
  }
  
  .icon-jianli:before {
    content: "\e677";
  }
  
  .icon-keji:before {
    content: "\e664";
  }
  
  .icon-V:before {
    content: "\e720";
  }
  
  .icon-bianji:before {
    content: "\e785";
  }
  
  .icon-shanchu:before {
    content: "\e78d";
  }
  
  .icon-shang:before {
    content: "\e797";
  }
  
  .icon-xia:before {
    content: "\e798";
  }
  
  .icon-you:before {
    content: "\e799";
  }
  
  .icon-zuo:before {
    content: "\e79a";
  }
  
  .icon-iconhuaban1-15:before {
    content: "\e611";
  }
  
  .icon-menu:before {
    content: "\e605";
  }
  