* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}



button {
  font-size: 16px;
  padding: 8px 15px;
  background-color: white;
  border: 1px solid;
  border-radius: 2px;
  cursor: pointer;
}

/* 自定义滚动轴样式 */
.scroll_full::-webkit-scrollBar {
  width: 5px;
  /*垂直方向的宽*/
  height: 7px;
  /*水平方向的宽*/
}

.scroll_full::-webkit-scrollBar-thumb {
  border-radius: 5px;
  background-color: #666;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

/* 滑块样式定义 */
.scroll_full::-webkit-scrollBar-track {
  border-radius: 5px;
  background: #EDEDED;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}




/* 路由跳转动画 */
.vue_router {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  display: flex;
  animation: router_opacity 1s ease-in-out forwards;
  overflow: hidden;
  /* background-color: #000; */
}

.vue_router_list {
  flex-grow: 1;
  background: url('@/assets/images/loading.png') #fff no-repeat;
  /* background-color: #000; */
  background-size: var(--wid) auto;

}

.vue_router_list:nth-child(odd) {
  animation: router_top .5s ease-in-out forwards;

}

.vue_router_list:nth-child(even) {
  animation: router_bottom .5s ease-in-out forwards;
}

@keyframes router_top {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  90% {
    transform: translateY(-5%);
    opacity: 1;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes router_bottom {
  0% {
    transform: translateY(100%);
    opacity: 0;

  }

  90% {
    transform: translateY(5%);
    opacity: 1;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes router_opacity {
  0% {
    opacity: 1;
    width: var(--wid);
  }

  80% {
    opacity: 1;
    width: var(--wid);
  }

  100% {
    opacity: 0;
    width: 0px;
  }
}